# Flutter/Dart build artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/*.iml
**/.idea/
**/.packages

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Scripts
commit_script.ps1
commit_more.ps1
